<!DOCTYPE html>
<html>
<head>
    <title>sign up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    <form id="signup_form" name="signup_form" method="POST" action="{{ url_for('signup') }}">
        <h2>sign up</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
        <div id="username_validation_msg"></div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <div id="password_validation_msg"></div>
        <button id="submit_btn" name="submit_btn">sign up</button>
    </form>
    <script src="{{ url_for('static', filename='signup_validation.js') }}"></script>
</body>
</html>
